.study-blog{
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 4fr 1fr;

}
.blog-name{
    margin-top: 30px;
    margin-left: 90px ;
}

.card-container{
    margin: 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


.summary-container{
    background-color: white;
}
@media screen and (max-width: 768px) {
    .card-container{
        margin: 0px;
        margin-left: 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
        row-gap: 30px;
    }
    
}