.summary-img{
    width: 50px;
    border-radius: 100%;
}

.info{
    border-radius: 10px;
    padding:0 40px;
    background-color: whitesmoke;
}
.all-break-time{
    padding: 15px;
    background-color: whitesmoke;
    border-radius: 15px;
}
.break-time{
    background-color: white;
   border: 1px solid white;
   width: 50px;
   height: 50px;
    border-radius: 100%;
    text-align: center;
    padding-top: 10px;
    margin-left: 20px;
}

.input-field{
    border: 0;
    background-color: whitesmoke;
    margin-top: 20px;
    padding: 10px 60px;
}

.active-btn{
    margin-top: 50px;
    padding: 10px 83px;
}